body {
	background-color: black;
	text-shadow: 1px 1px 0px #222;	
	color: #ddd;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	margin: 6px;
}

html {
	margin: 0;	
}


a {
	text-decoration: none;
	color: inherit;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.deemphasize {
	color: #999999;
}

/* Header */

h1 {
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	max-width: 766px;
	color: #eee;
	margin: 0;
	display: block;
}

h1 a {
	margin-right: 15px;
}

h1 img {
	width: 32px;
	height: 32px;
	border: 1px solid transparent;
	padding: 3px;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	vertical-align: text-top;
}

h1 img.active {
	background-color: #001E33;
	border: 1px solid #002F4C;
}

h1 #options {
	position: absolute;
	top: 6px;
	right: 5px;
}

/* Misc */

.header {
	font-size: 16px;
	text-align: center;
	padding: 6px;
	background: linear-gradient(to right, rgba(50, 50, 50, .5) 30%, rgba(0, 0, 0, 0) 100%);
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Buttons */

.button {
	width: 125px;
	margin: 5px;
	padding: 7px;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	background-color: #141414;
	border: 1px solid #212121;
}

.button.active {
	background-color: #001E33;
	border: 1px solid #002F4C;
}

.button:hover {
	border: 1px solid #004F7D;
}

.button img {
	width: 18px;
	height: 18px;
	vertical-align: bottom;
	margin-right: 6px;
}

/* Search Bar */

#search {
	width: 200px;
	border-radius: 4px;
	background-color: #121212;
	border: 1px solid #003E63;
	color: #ccc;
}

#search-bar {
	position: relative;
}

#search-input-section {
	text-align: center;
}

/* Other */

#settings {
	display: none;
	text-align: center;
}

#settings .alarm-options {
	text-align: left;
	display: inline-block;
}

#settings .label {
	width: 200px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	position: fixed;
	width: 331px;
	left: 0;
	padding: 4px;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	max-width: 766px;
}

#sidebar .subheader {
	font-weight: bold;
	border-bottom: 1px solid #212121;
	margin: 3px;
	margin-bottom: 2px;
	position: relative;
}

#tasks-alarm-toggle {
	cursor: pointer;
	padding: 1px;
	width: 24px;
	height: 24px;
	border: 1px solid transparent;
	background-color: transparent;
	border-radius: 3px;
	vertical-align: text-top;
	position: absolute;
	right: 5px;
	top: -9px;
}

#tasks-alarm-toggle.active {
	background-color: #001E33;
	border: 1px solid #002F4C;
}

/* Timers */

#main-content {
	padding: 4px;
	max-width: 766px;
	margin-left: 325px;
}

.timer {
	display: inline-block;
	width: 380px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 6px;
	background-color: #0D0D0D;
}

.timer .title {
	padding: 5px;
	background-color: #1A1A1A;
	box-sizing: border-box;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.timer .title .star {
    position: absolute;
    left: -7px;
    top: -10px;
    font-size: 28px;
    z-index: 5;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #999999;
}

.timer .title .star:after {
	content: "☆";
}

.timer.star .title .star:after {
	content: "★";
}

.timer .title .star:hover {
	color: #114C9E;
}

.timer .title .text {
    position: relative;
    left: 23px;
    z-index: 5;
}

.timer .progress-container {
	position: relative;
	top: -4px;
	left: 2px;
	width: 99%;
	height: 4px;
	margin-top: -4px;
	pointer-events: none;
}

.timer .progress-container .progress {
	width: 0;
	height: 4px;
	background-color: #444;
	border-radius: 4px;
	z-index: 1;
}

.timer.spawning .progress-container .progress {
	background-color: #964833;
}

.timer.active .progress-container .progress {
	background-color: #3C633C;
}

.timer.dormant .progress-container .progress {
}

body.colorblind .timer.spawning .progress-container .progress {
	background-color: #336BCC;
}

body.colorblind .timer.active .progress-container .progress {
	background-color: #CCB400;
}

.timer .spawn-time {
	position: absolute;
	top: 5px;
	right: 5px;
	pointer-events: none;
	z-index: 5;
}

.timer .content {
	padding: 4px;
	padding-bottom: 0;
}

.timer .icon {
	width: 28px;
	height: 28px;
	vertical-align: bottom;
	margin-right: 4px;
}

.timer .entry {
	display: inline-block;
	min-width: 50%;
	margin-bottom: 4px;
}

.timer a.entry:hover, .timer a.entry:active {
	background: rgba(50, 50, 50, .5);
	border-radius: 4px;
}

.timer .info {
	border-top: 1px solid #191919;
	padding-top: 4px;
	padding-bottom: 2px;
}

.timer .suffix-icon {
	width: 18px;
	height: 18px;
	border-radius: 3px;
	margin-left: 3px;
	position: relative;
	top: -2px;
}

.timer.active .title .text::after {
	content: "*";
}

.timer .valign {
	display: inline-block;
	position: relative;
	top: -7px;	
}

.timer .bait {
	float: right;
	margin-bottom: 2px;
}

/* Nodes & Fish */

.node .info .type {
	vertical-align: bottom;
}

.fish .entry {
	min-width: inherit;
}

.fish .bait .comma {
	position: relative;
	left: -2px;
	top: 3px;
}

/* Favorites */

#favorite .timer {
	background-color: #121217;
}

#favorite .timer .title {
	background-color: #1A1A2E;
}

/* List Mode */

#mode-toggle {
	display: none;
}

.list-mode .timer {
	width: 100%;
}

.list-mode .timer .entry-list {
	width: 25%;
	display: inline-block;
}

.list-mode .timer .title {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

.list-mode .timer .spawn-time {
	position: relative;
	right: 0;
	padding-left: 3px;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.list-mode .timer .progress-container {
	width: 25%;
	position: absolute;
	top: 22px;
}

.list-mode .timer .content {
	display: inline;
}

.list-mode .timer .info {
	display: inline-block;
}

.list-mode .timer .bait {
	float: none;
}

/* Timer Lists */

.timer-list .header {
    cursor: pointer;
    color: #999999;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.timer-list.active .header {
	color: inherit;
}

.timer-list .node-list {
	display: none;
}

.timer-list.active .node-list {
	display: block;
}

/* Timeline */

#timeline-header {
    cursor: pointer;
    color: #999999;
}

#timeline-header.active {
	color: inherit;
}

#timeline {
	position: relative;
	overflow: hidden;
    display: none;
}

#timeline.active {
    display: block;
}

#timeslots {
	background-color: #121217;
}

#timeslots .slot {
	position: absolute;
	top: 5px;
	width: 40px;
	line-height: 12px;
}

#timeslots .slot img {
	width: 28px;
	height: 28px;
}

#timeline .hand {
	box-sizing: border-box;
	position: absolute;
	height: 98%;
	transform: translateY(1%);
	width: 3px;
	z-index: 5;
	background-color: rgba(150, 180, 100, .6);
	border-radius: 2px;
}

#timeline .hours {
	height: 15px;
	background-color: #121217;
}

#timeline .hour {
	position: absolute;
}

/* Content Images */

.timer .content {
	background-position: right bottom;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-color: rgba(15, 15, 15, .5);
	background-size: 24px 24px;
	min-height: 24px;
    box-sizing: border-box;
}

.timer.botanist .content {
	background-image: url('../db/images/BTN-Transparent.png');
}

.timer.miner .content {
	background-image: url('../db/images/MIN-Transparent.png');
}

.timer.fish .content {
	background-image: url('../db/images/FIS-Transparent.png');
}

.timer.GATE .content {
	background-image: url('icons/GATE.png');
}

.timer.hunt .content {
	background-image: url('icons/Hunt.png');
}

/* Maps */

#maps-header {
    cursor: pointer;
    color: #999999;
}

#maps-header.active {
	color: inherit;
}

.map-container {
	overflow: hidden;
	position: relative;
}

.map-container::-webkit-scrollbar {
	display: none;
}

.map-container .map,
.map-container .points {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.map-container .position,
.map-container .region {
	position: absolute;
	background-color: #333;
	border: 1px solid #191919;
	color: #eee;
	opacity: .8;
	border-radius: 6px;
	padding-left: 6px;
	padding-right: 6px;
	z-index: 2;
}

.map-container .position {
	top: 5px;
	right: 5px;
}

.map-container .region {
	top: 5px;
	left: 5px;
}

.map-wrapper {
	display: inline-block;
	position: relative;
	left: 1px;
	border-radius: 6px;
	margin-bottom: 2px;
}

.map-container, .map-wrapper {
	width: 381px;
	height: 381px;
	margin-left: 1px;
	margin-right: 1px;
}

.map-container .map {
	z-index: 0;
}

.map-container .points {
	z-index: 1;
}

/* List Popover */

#list-popover {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 5px;
    background-color: #282828;
    border: 8px solid #494949;
    z-index: 10;
    border-radius: 8px;
    min-width: 350px;
}

#list-popover-entries .entry {
	font-size: 24px;
	padding: 20px 30px 20px 30px;
	cursor: pointer;
	border-radius: 4px;
}

#list-popover-entries .entry:hover {
	background-color: #141414;
}

#list-popover-timer {
	position: relative;
}

#list-popover h2 {
	text-align: center;
}

/* Unlimited Columns */

body.unlimited-columns #main-content {
	max-width: initial;
}

body.unlimited-columns #maps-section {
	position: static;
	max-width: initial;
}

/* Compact */

body.compact .timer .info {
	display: none;
}

/* Mobile Layout */

@media(min-width: 1517px) {
	#maps-section {
		position: absolute;
		top: 10px;
		right: 4px;
		max-width: 390px;
		min-width: 390px;
	}
}

@media(min-width: 1891px) {
	#maps-section {
		position: absolute;
		top: 10px;
		right: 4px;
		max-width: 766px;
		min-width: 766px;
	}
}

@media (max-width: 1127px) {
	#sidebar {
		position: static;
		width: 100%;
		text-align: center;
	}

	#sidebar .subheader {
		display: none;
	}

	#tasks-alarm-toggle {
		display: none;
	}

	#main-content {
		margin-left: 0;
	}

	#filters {
		margin-bottom: 13px;
	}

	#filters .filter {
		display: inline-block;
	}
}

@media(max-width: 720px) {
	#timeline, #timeline-header, #timeline.active {
		display: none;
	}
}

@media(max-width: 407px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}

	#sidebar {
		width: 99%;
	}

	#main-content {
		padding: 0;
	}

	.node-list, .timer-list {
		margin-left: 3px;
	}

	.map-container, .map-wrapper {
		margin-left: 0;
		margin-right: 0;
	}

	.timer {
		display: inline-block;
		width: 99%;
	}
}

